.App {
  text-align: center;
}

h1 {
  margin: 10px;
  font-weight: 700;
  text-align: center;
  color: rgba(189, 206, 0, 1);
}

h4 {
  margin-bottom: 5%;
  font-weight: 700;
  text-align: center;
  color: #d06735;
}

.card-header {
  font-weight: 700;
}

div.card-settings.card-body {
  padding-left: 15%;
  padding-right: 15%;
}

input[type="text"] {
  padding: 8px 6px 8px 10px;
  margin: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(149, 140, 140);
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  width: 180px;
}

input[type="number"] {
  border: 1px solid rgb(149, 140, 140);
}

.card {
  border: 1px solid rgb(149, 140, 140);
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}

input[type="checkbox"] {
  margin: 10px;
}

.label {
  align-self: center;
  font-weight: 500;
}

.suggestions {
  width: 180px;
  z-index: 2;
  align-self: center;
  margin-top: 25px;
  top: 100px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  list-style-type: none;
}

.suggestions1 {
  position: absolute;
  left: 15%;
}

.suggestions2 {
  width: 180px;
  position: absolute;
  left: 53%;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: white;
  cursor: default;
}

.suggestions > li:hover {
  background-color: rgba(189, 206, 0, 1);
}
